<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmotionPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22A7F4F61EB443B100D6F0FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A7F50C1EB443B200D6F0FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A7F5171EB443B200D6F0FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
